.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #0c3c26;
  form {
    display: flex;
    flex-direction: column;
    margin: auto auto auto;

    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    input,
    label,
    button {
      margin-top: 20px;
    }
    button {
      color: white;
      background-color: #0c3c26;
      padding: 10px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 5px;
      border-width: 0px;
      margin-bottom: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
